# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/hello

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
PPA/matrix/main
PAA/pilha4_gabriela/main
.Rproj.user
Obelheiro/pesquisa/honeypot_data/rust/pcap_reader_pcap_parser/out.txt
Obelheiro/pesquisa/honeypot_data/rust/pcap_reader_pcap_parser/out1.txt
Obelheiro/pesquisa/honeypot_data/pcap/test/get-all-pcap-files.sh
Obelheiro/pesquisa/honeypot_data/pcap/test/*
Obelheiro/pesquisa/honeypot_data/rust/pcap_reader_pcap_parser/src/.env
Obelheiro/pesquisa/honeypot_data/rust/pcap_reader_pcap_parser/.env
Obelheiro/pesquisa/honeypot_data/vitima_calculated.RData
Obelheiro/pesquisa/honeypot_data/rstudio/v1-sqldump-thiago/vitimas_data_time_diff_vitima&protocol.Rds
